
.search-input {
    padding: 10px;
    border: 1px solid #ccc;
    width: 150%;
}

.search-icon {
    position: absolute;
    right: 20px;
    top: 64px;
}

@media (max-width: 768px) {
    .search-input {
        padding: 1px;
        border: 1px solid #ccc;
        width: 100%;
        position: absolute;
        top: 100%;
    }
      ::placeholder {
        font-size: 6px;
    }
     :focus {
         border: none;
     }
    .search-icon {
        position: absolute;
        right: 20px;
        top: 95%;
        scale: 50%;
    }
}
